<div class="container">
  <video controls>
    <source src="../../assets/audio/114514.mp4" type="video/mp4">
    您的浏览器不支持 video 元素。
  </video>
  <div class="content">
    <div class="title">
      <h1>猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒</h1>
      <img src="../../assets/image/classification_down.png" alt="down" (click)="onChange($event)">
    </div>
    <div class="up">
      <div class="left">
        <img src="../../assets/image/QQ图片20210927172017.png" alt="">
        <span>嘉然今天吃什么</span>
      </div>
      <div class="right">
        <span>18.5万观看</span>
        <span>点赞</span>
        <span>收藏</span>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>