<div class="container">
  <video controls>
    <source src="../../assets/audio/114514.mp4" type="video/mp4">
    您的浏览器不支持 video 元素。
  </video>
  <div class="content">
    <div class="title">
      <h1>猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒猫中毒</h1>
      <img class="{{isDetail ? 'arr-up' : 'arr-down'}}" src="../../assets/image/classification_down.png" alt="down" (click)="onChange($event)">
    </div>
    <div *ngIf="!isDetail;else elseBlock" class="up">
      <div class="left">
        <img src="../../assets/image/jiaran.jpg" alt="">
        <span>嘉然今天吃什么</span>
      </div>
      <div class="right">
        <span>18.5万观看</span>
        <span>点赞</span>
        <span>收藏</span>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="up-detail">
        
      </div>
    </ng-template>
    <div class="switcher">
      <span class="{{curIdx === 0 ? 'pik' : 'blk'}}" (click)="changeSwiper(0)">相关推荐</span>
      <span class="{{curIdx === 1 ? 'pik' : 'blk'}}" (click)="changeSwiper(1)">评论18.5w</span>
    </div>
    <div style="width: 100%;">
      <div class="anchor {{curIdx === 0 ? 'anchor0' : 'anchor1'}}"></div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="audioList" routerLink="play-audio">
            <div class="card" *ngFor="let a of getAudioList()">
              <div class="card-top">
                <img src="{{a.img}}" alt="{{a.id}}">
                <div class="card-msg">
                  <span>播 {{a.playTimes}}</span>
                  <span>弹 {{a.comments}}</span>
                  <span>时 {{a.time}}</span>
                </div>
              </div>
              <div class="card-bottom">
                <span class="span-top">{{a.title}}</span>
                <span class="span-bottom">up {{a.up}}</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <div class="commentList">
            <div class="comment" *ngFor="let c of commentList">
              <div class="comment-left">
                <img src="{{c.userImg}}" alt="">
              </div>
              <div class="comment-right">
                <div class="top">
                  <div class="top-left">
                    <span class="name">{{c.userName}}</span>
                    <span class="date">{{c.time}}</span>
                  </div>
                  <div class="top-right">
                    <span>赞：{{c.like}}</span>
                  </div>
                </div>
                <div class="mid">
                  <span>{{c.content}}</span>
                </div>
                <div *ngIf="c.reply" class="bottom">
                  <div *ngFor="let r of c.reply; index as i;first as f; last as l;">
                    <div *ngIf="i < c.render" class="reply">
                      <span class="replyer">{{r.userName}}：</span>
                      <span class="re-content">{{r.content}}</span>
                    </div>
                  </div>
                  <span *ngIf="c.reply.length > 1" class="total">共{{c.reply.length}}条回复></span>
                </div>
              </div>
            </div>

          </div>
          <div class="list-bottom">
            <span>——————到底了——————</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>